@import '@scss/mixins';
@import '@scss/extend';

.game {
  &-canvas {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    background-color: var(--main-bg-gray);
    overflow-x: hidden;
    min-height: 100vh;

    @include mq(minlg) {
      padding-left: 1.25rem;
      padding-right: 0;
      padding-top: 0;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--main-bg-blue);
    color: var(--main-text-white);
    padding: 1rem;
    border-radius: 0.75rem;
    font-size: 1.25rem;
    font-weight: 600;

    @extend %shared-box-shadow;

    @include mq(minlg) {
      margin-top: 1rem;
    }
  }

  &-canvas-element {
    border-radius: 0.75rem;
    max-width: 100%;
    display: block;
    margin-inline: auto;

    @extend %shared-box-shadow;
  }
}
