.sidebar-stats-panel {
  color: var(--main-text-blue);

  &--title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    margin: 4px 0;
    font-weight: 600;
  }

  span {
    font-weight: 400;
  }
}
