@import '@scss/mixins';
@import '@scss/extend';

.sidebar {
  background-color: var(--main-bg-secondary);
  border-radius: 1rem 0 0 1rem;
  position: relative;
  transition: transform 0.5s ease-in-out;
  display: flex;
  transform: translateX(100%);
  max-height: 100vh;
  will-change: transform;

  @extend %shared-box-shadow;
  @include scrollbar-vertical;

  @include mq(maxsm) {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
  }

  &.open {
    transform: translateX(0);

    & .sidebar-container {
      flex: 0 0 310px;
      opacity: 1;
      visibility: visible;
      padding: 1rem;

      @include mq(maxsm) {
        flex: 0 0 310px;
      }
    }

    & .sidebar-close {
      transform: translateX(-50%);
    }
  }

  &-container {
    transition:
      flex-basis 0.5s ease-in-out,
      opacity 0.5s ease-in-out,
      visibility 0.5s ease-in-out,
      padding 0.5s ease-in-out;
    opacity: 0;
    gap: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 0 0 0;
    max-width: 320px;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    will-change: transform, opacity, flex-basis;
  }

  &:not(.open) .sidebar-container {
    pointer-events: none;
  }

  &-close {
    position: absolute;
    top: 5rem;
    left: 0;
    transform: translateX(-100%);
    z-index: 20;
    will-change: transform;
    transition: transform 0.5s ease-in-out;

    @include mq(maxsm) {
      top: 2rem;
    }
  }

  & .sidebar-close .arrow-icon {
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
    will-change: transform;

    &.rotated {
      transform: rotate(-90deg);
    }
  }

  @include mq(minlg) {
    min-height: 100vh;
    margin: 0;
  }

  &-title {
    font-size: 1.25rem;
    color: var(--main-text-blue);
    font-weight: bold;
    text-align: center;
  }

  &-buttons-controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include mq(minlg) {
      flex-direction: row;
      gap: 1rem;
    }
  }
}
